* {
    background-color: black;
}

.btn-container {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    width: 4px;
    height: auto;
    display: inline-block;
}

.homeCenter {
    padding-top: 5px;
    width: 15px;
    height: 10px;
    background-color: white;
    color: blue;
    text-align: center;
}