  <div class="row">
    <div class="col-auto">
      <h2>Welcome, Loser!</h2>
    </div>
  </div>
  <button type = "button" class="btn btn-primary" id= "initial" >Create Character</button>
  <button type = "button" class="btn btn-primary" id= "start" >Start Game</button>
  <button type = "button" class="btn btn-primary" id= "info" >More Info</button>
  <div id = "myModal" class="modal">
    <div class="modal-content">
      <span class="ml-5 close-button" id ="close">&times;</span>
      <div id = "charCard">
        <div class="modal-body">
          <h1>Please Name Your Character</h1>
          <input type = "text" placeholder="Name"></input>
          <br>
          <select name = "charClass" id = "charClass">
            <option value = "Warrior">Warrior</option> 
            <option value = "Hunter">Hunter</option> 
            <option value = "Mage">Mage</option> 
            <option value = "Thief">Thief</option> 
          </select>
          <br>
          <div class = "container">
            <h4 class="text-warning" id = "health">Health: </h4>
            <h4 class="text-info" id = "attack">Attack: </h4>
            <h4 class="text-danger" id = "str">Str: </h4>
            <h4 class="text-success" id = "dex">Dex: </h4>
            <h4 class="text-primary" id = "int">Int: </h4>
            <h4 class="text-secondary" id = "luk">Luk: </h4>
            
            <button type = "button" class="btn btn-primary" id= "dice" >Randomize Stats</button>
            <button type = "button" class="btn btn-primary hidden" id= "confirm" >Confirm</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div id = "myModal1" class="modal" >
    <div class="modal-content">
      <span class="close-button1" id="close1">&times;</span>
      <h1 class="text-danger">Warrior = 2x Str</h1>
      <h1 class="text-success">Hunter = 2x Dex</h1>
      <h1 class="text-primary">Mage = 2x Int</h1>
      <h1 class="text-secondary">Thief = 2x Luk</h1>
      <h1 class="text-danger">Attack for Warriros = Str</h1>
      <h1 class="text-success">Attack for Hunter = Dex</h1>
      <h1 class="text-primary">Attack for Mage = Int</h1>
      <h1 class="text-secondary">Attack for Thief = Luk</h1>
    </div>
  </div>
  
  <script src="script.js"></script>
</body>
</html>

<script src="./js/stats.js"></script>