<div class = "row justify-content-center">
    <button type = "button" class="btn btn-primary col-2 mx-4" id= "fight" >Fight</button>
    <button type = "button" class="btn btn-primary col-2 mx-4" id= "back" >Go Home</button>
    <button type = "button" class="btn btn-primary col-2 mx-4" id= "next" >Finish</button>
</div>


    <div class = "text-center my-5 border monCard">
        {{!-- <img src = "/images_character/bryan_img.jpg" alt = "image of our wonderful teacher Bryan" class = "my-2"> --}}
        <p class= "font-weight-bold">Name: mon3</p>
        <p class= "font-weight-bold ">Class: Boss</p>
        <p class = "yellow ">Health: 40</p>
        <p class = "text-info">Attack: 7</p>
    </div>
<div class = "row space justify-content-around"> 
  {{#each characters as |character|}}
    <div class = "col-2 border text-center charCard">
      <p class= "font-weight-bold">Name: {{char_name}}</p>
      <p class= "font-weight-bold ">Class: {{char_class}}</p>
      <p class = "yellow ">Health: {{char_health}}</p>
      <p class = "text-info">Attack: {{char_attack}}</p>
    </div>
  {{/each}}
</div>
<script src="/js/fightB.js"></script>