<header>
    <div>
        <h1 class=" homeH1Options">
            Home Page
        </h1>
    </div>
</header>


<div class="conainer">
  <a href="#">  
    <button class="btn-container">
        Adventure
    </button>
  </a>
  
  
  <a href="#">
    <button class="btn-container">
        Shop
    </button>
  </a>
  
  <a href="#">
    <button class="btn-container">
        Temple
    </button>
  </a>
</div>

