<div class = "right"> 
<button class="btn btn-primary" id="create">Back to Characters</button>
</div>
<div class="conainer">
 
    <button class="btn-container adventure">
        ADVENTURE
    </button>

  
  

    <button class="btn-container shop">
        SHOP
    </button>

  

    <button class="btn-container temple">
        TEMPLE
    </button>

</div>


<script src="/js/homepage.js"></script>