
header {
    width: 100%;
}

.btn-container {
    background-color: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    transition: 0.4s;
    font-style: italic;

}

.btn-container:hover {
    background-color: transparent;
    color: red;
}



.shop {
    position: fixed;
    right:  395px;
    bottom: 345px;
}

.adventure {
    position: fixed;
    left: 400px;
    bottom: 55px;

}

.temple  {
    position: fixed;
    right: 775px;
    bottom: 300px;
}